.about {
  /* padding: 140px 98px 0px 98px; */
  padding-top: 140px;
}
.about__title {
  text-align: center;
  margin-bottom: 70px;
  font-size: 36px;
}

.about__flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
  align-items: center;
}

.about__flex-box {
  padding: 30px 49px 30px 30px;
  /* padding-top: 30px; */
  width: 370px;
  height: 321px;
  border-radius: 8px;
  box-shadow: 0 0 25px #D0D0D040;
}

.flex-box__title {
  font-size: 22px;
  margin-bottom: 15px;
}

.flex-box__descrip {
  font-size: 16px;
}