.main {
  background-image: url('../images/Group\ 51.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}

.main__container {
  padding: 153px 0 153px 198px;
}

.main__city {
  margin-bottom: 15px;
}

.main__title {
  margin-bottom: 25px;
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 62px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.main__subtitle {
  margin-bottom: 40px;
  font-family: 'Lato';
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}


